{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block head %}
    <style>
        input{
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
        text-align: center;
        margin-top: 10px;
        background-image: url("media/searchicon.svg");
        background-position-y: 5px;
        background-position-x: right;
        background-size: 20px;
        background-repeat: no-repeat;
        height: 30px;
    }
    .floating-button{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: red;
        margin-left: 10px;
        margin-top: 10px;
        color: white;
        border-color: red;
        border-style: solid;
        font-size: 10px;
        padding: 0;
    }
    #floating-btn-icon{
        width: 30px !important;
        height: 30px !important;
        margin: 0;
        margin-left: -2px !important;
    }
    #games-list{
        margin-top: 1%;
        height: 60%;
    }
    .pages-container{
        margin-top: 10px;
        height: 50px;
        width: 40%;
    }
    .pages-button{
        background-color: red;
        color: white;
        border-color: red;
        border-style: solid;
    }
    .each-page-container{
        margin: 5px;
    }
    .my-row{
        height: 40%;
        margin-top: 20px;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="h-100 row">
        <div class="col-2">
            <button type="button" class="floating-button"><i id="floating-btn-icon" class="fa fa-cloud"></i></button>
        </div>
        <div class="col-8">
            <input type="text" placeholder="Search...">
            <div class="container-fluid d-flex flex-column flex-row" id="games-list">
                <div class="my-row row bg-light flex-fill d-flex">
                    {% for i in '123' %}
                        {% include 'game_template.html' %}
                    {% endfor %}
                </div>
                <div class="my-row row bg-light flex-fill d-flex" >
                    {% for i in '1' %}
                        {% include 'game_template.html' %}
                    {% endfor %}
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="row pages-container d-flex flex-wrap justify-content-center">
                        <div class="each-page-container align-self-start"><button type="button" class="pages-button">1</button></div>
                        <div class="each-page-container align-self-end"><button type="button" class="pages-button">2</button></div>
                        <div class="each-page-container align-self-end"><button type="button" class="pages-button">3</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}