{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block head %}
    <style>
        input{
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
        text-align: center;
        margin-top: 10px;
        background-image: url("media/searchicon.svg");
        height: 30px;
    }
    .floating-button{
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background-color: red;
        margin-left: 10px;
        margin-top: 10px;
        color: white;
        border-color: red;
        border-style: solid;
        font-size: 10px;
        padding: 0;
    }
    #floating-btn-icon{
        width: 30px !important;
        height: 30px !important;
        margin: 0;
        margin-left: -2px !important;
    }
    #games-list{
        margin-top: 5%;
        height: 60%;
    }
    .light{
        background-color: lightgray;
    }
    .dark{
        background-color: gray;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="h-100 row">
        <div class="col-2">
            <button type="button" class="floating-button"><i id="floating-btn-icon" class="fa fa-cloud"></i></button>
        </div>
        <div class="col-8">
            <input type="text" placeholder="Search...">
            <div class="container-fluid d-flex flex-column" id="games-list">
                <div class="row bg-light flex-fill d-flex">
                    <div class="col-4 light">
                        <h1>Pacman
                        </h1>
                    </div>
                    <div class="col-4 dark"></div>
                    <div class="col-4 light"></div>
                </div>
                <div class="row bg-light flex-fill d-flex">
                    <div class="col-4 dark">
                        <h1>Pacman
                        </h1>
                    </div>
                    <div class="col-4 light"></div>
                    <div class="col-4 dark"></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>

{% endblock %}