#main-container {
  padding: 1%; }

.big-red-button {
  background-color: red;
  color: white;
  border-color: red;
  border-style: solid; }

.center-text {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center; }

.center-content {
  display: flex;
  justify-content: center; }

.green-button {
  background-color: green;
  color: white;
  border-color: green; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: white; }

a:focus {
  text-decoration: none; }

a:hover {
  cursor: pointer; }
