#main-container {
  padding: 1%; }

.big-red-button {
  background-color: red;
  color: white;
  border-color: red;
  border-style: solid; }

.center-text {
  text-align: center; }

.center-content {
  display: flex;
  justify-content: center; }

.pages-container {
  list-style-type: none;
  align-self: center;
  display: inline-flex;
  margin-top: 10px;
  height: 50px;
  width: 40%; }

.pages-button {
  background-color: red;
  color: white;
  border-color: red;
  border-style: solid;
  margin: 5px;
  align-self: end; }

.chosen-page {
  align-self: start; }

.each-page-container {
  margin: 5px; }
