@import 'library.scss';

input{
    border: none;
    border-bottom: 2px solid $black-color;
    border-left: 2px solid $black-color;
    width: 200px;
}
select{
    border: none;
    border-bottom: 2px solid $black-color;
    border-left: 2px solid $black-color;
    width: 200px;
    background-color: transparent;
}
#submit-btn{
    width: 40%;
    height: 40px;
    align-self: center;
}
#sign-up{
    align-self: center;
}