#main-container {
  padding: 1%; }

.big-red-button {
  background-color: red;
  color: white;
  border-color: red;
  border-style: solid; }

.center-text {
  text-align: center; }

.center-content {
  display: flex;
  justify-content: center; }

html, body {
  height: 100%; }

.nav {
  background-color: red;
  padding: .2% .2% 0;
  -webkit-box-shadow: 0 3px 5px 0 black;
  -moz-box-shadow: 0 3px 5px 0 black;
  box-shadow: 0 3px 5px 0 black;
  position: relative;
  z-index: 5;
  align-items: center; }

.nav-item {
  color: white; }

.nav div {
  align-items: center;
  display: inline-flex; }

.nav-button {
  color: red;
  background-color: white;
  font-size: 25px;
  margin: 10px;
  border-color: white;
  border-style: solid; }

.green-button {
  background-color: green;
  color: white;
  border-color: green;
  margin-right: 0; }

.nav p, .nav ins {
  font-size: 25px;
  color: white;
  margin: 0; }

.nav ins {
  margin-left: 10px; }

.nav ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  float: left; }

.nav li {
  float: left; }

.nav a:active {
  text-decoration: none;
  border-style: none;
  outline: none; }

.nav a:hover {
  text-decoration: none;
  border-style: none;
  outline: none; }

.nav a:focus {
  text-decoration: none;
  border-style: none;
  outline: none; }

a:hover {
  cursor: pointer; }

button:hover {
  cursor: pointer; }
