{% extends 'base.html' %}
{% load static %}
{% load divide %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_page.css' %}">
    <script src="{% static 'scripts/details.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="row">
            <div class="col-9">
                <div class="container-fluid">
                    <div id="title-container" class="row">
                        <div class="col-3"><h1>{{ object.name }}</h1></div>
                        <div class="d-flex text-with-background align-items-center"><h1>MUST</h1></div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h5>{% if object.version_title %}{{ object.version_title }}{% endif %}</h5>
                            <h3>Description</h3>
                            <p>{% if object.summary %}{{ object.summary }}{% else %}No description{% endif %}</p>
                            <h3>Release Date</h3>
                            <p>{% if object.first_release_date %}
                                    {{ object.first_release_date }}
                                {% else %}
                                    No release date
                                {% endif %}
                            </p>
                            <h3>Screenshots</h3>
                            <div class="d-flex flex-wrap flex-row align-content-start flex-fill">
                                {% for screenshot in object.screenshots.all %}
                                    <div class="marg-bottom marg-right">
                                        <img class="screenshot" src="{{ screenshot.url }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-4">
                            <br><br>
                            <h3>Ratings</h3>
                            <div id="users-rating" class="d-flex text-with-background marg-bottom align-items-center
                             justify-content-between">
                                <h5>Users</h5>
                                <h5 id="users_rating_value">
                                    {% if object.rating %}{{ object.rating|divide:10 }}{% else %}No rating{% endif %} (
                                    {% if object.rating_count %}{{ object.rating_count }}{% else %}0{% endif %} reviews )
                                </h5>
                            </div>
                            <div id="critics-rating" class="d-flex text-with-background align-items-center
                             justify-content-between">
                                <h5>Critics</h5>
                                <h5 id="critics_rating_value">
                                    {% if object.aggregated_rating %}{{ object.aggregated_rating|divide:10 }}{% else %}No rating{% endif %} (
                                    {% if object.aggregated_rating_count %}{{ object.aggregated_rating_count }}{% else %}0{% endif %} reviews )
                                </h5>
                            </div>
                            <h3>Genres</h3>
                            <div class="d-flex flex-wrap flex-row align-content-start flex-fill">
                                {% for genre in object.genres.all %}
                                    <div class="text-with-background marg-right marg-bottom"><h5>{{ genre.name }}</h5></div>
                                {% endfor %}
                            </div>
                            <h3>Platforms</h3>
                            <div class="d-flex flex-wrap flex-row align-content-start flex-fill">
                                {% for platform in object.platforms.all %}
                                    <div class="text-with-background marg-right marg-bottom"><h5>{{ platform.name }}</h5></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h2>#{{ object.name }} Tweets</h2>
                <div class="d-flex flex-wrap flex-column">
                    {% for tweet in tweets %}
                        {% include 'tweet_template.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
