<div class="main-game-container">
    <img class="image-cover" src="{{ game.cover }}" alt="">
    <div class="cover-container">
        <div class="background-container"></div>
        <div class="background-dark">
            <h3 class="game_name">{{ game.name }}</h3>
            <h5 class="game_version_title">{{ game.version_title }}</h5>
            <div class="buttons-open-must-container d-flex flex-nowrap flex-row">
                <a href="{% url 'main_app:detail_page' game_id=game.id %}">
                    <button type="button" class="cover-button">Open</button>
                </a>
                {% csrf_token %}
                <button type="button" class="cover-button" onclick="send_ajax_must('/add_remove_must',{{ game.id }}, true)">
                    MUST
                </button>
            </div>
        </div>
    </div>
</div>