{% load static %}
<div class="main-game-container">
    <img class="image-cover" src="{% if game.cover.all.0.url %}
                                      {{ game.cover.all.0.url }}
                                  {% else %}
                                      {% static 'media/no_image.jpg' %}
                                  {% endif %}" alt="">
    <div class="cover-container">
        <div class="background-container"></div>
        <div class="background-dark">
            <h3 class="game_name">{{ game.name }}</h3>
            <h5 class="game_version_title">{% if game.version_title %}{{ game.version_title }}{% endif %}</h5>
            <div class="buttons-open-must-container d-flex flex-nowrap flex-row">
                <a href="{% url 'main_app:detail_page' pk=game.id %}">
                    <button type="button" class="cover-button">Open</button>
                </a>
                <button type="button" class="cover-button" onclick="send_ajax_must('/add_remove_must',{{ game.id }}, true)">
                    MUST
                </button>
            </div>
        </div>
    </div>
</div>