<div class="main-game-container">
    <img class="image-cover" src="{{ game.cover }}" alt="">
    <div class="lower-container">
        <div class="lower-inner-container">
            <div>
                <h4 class="game_name">{{ game.name }}</h4>
                <p class="game_version_title">{{ game.genres }}</p>
            </div>
            <div>
                <button class="big-red-button must-button">UnMUST</button>
            </div>
        </div>
        <div>
            <p>Users added: {{ game.added }}</p>
        </div>
    </div>
</div>