<div class="main-game-container">
    <img class="image-cover" src="{{ game.cover }}" alt="">
    <div class="lower-container">
        <div class="row">
            <div class="col">
                <h4 class="game_name">{{ game.name }}</h4>
                <p class="game_version_title">{{ game.genre }}</p>
            </div>
            <div class="col">
                <button class="must-button">UnMUST</button>
            </div>
        </div>
        <div class="row">
            <p>Users added: 25</p>
        </div>
    </div>
</div>