{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_page.css' %}"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'scripts/login_register.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <form class="d-flex flex-column" method="post">
            {% csrf_token %}
            <div class="d-flex align-items-end flex-column">
                <h2 id="sign-up">Sign Up</h2>
                {{ form.as_p }}
            </div>
            <button id="submit-btn" class="big-red-button" type="submit">Sign me up!</button>
        </form>
    </div>
{% endblock %}