{% extends 'base.html' %}
{% load static %}

{% block title %}
    Main page
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}"/>
    <script src="{% static 'scripts/side_menu.js' %}"></script>
    <link href="nouislider.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <script src="nouislider.min.js"></script>
    <div class="h-100 row">
        <div class="col-2">
            <div id="filter-btn-div">
                <button type="button" class="floating-button" onclick="openCloseNav()"></button>
                <h1 id="filters-title">Filters</h1>
            </div>
            <div id="mySidenav" class="sidenav">
                <div class="navbar-div">
                    <h5>Platforms</h5>
                    <input id="platforms-search" class="navbar-search" type="text">
                </div>
                <div class="navbar-div">
                    <h5>Genres</h5>
                    <span><input id="genres-search" class="navbar-search" type="text"></span>
                </div>
                <h5>User rating</h5>
                <div id="slider"></div>
            </div>
        </div>
        <div id="main" class="col-8">
            <input type="text" placeholder="Search...">
            <div class="container-fluid d-flex flex-column flex-row" id="games-list">
                <div class="my-row row bg-light flex-fill d-flex">
                    {% for i in '123' %}
                        {% include 'game_template.html' %}
                    {% endfor %}
                </div>
                <div class="my-row row bg-light flex-fill d-flex" >
                    {% for i in '1' %}
                        {% include 'game_template.html' %}
                    {% endfor %}
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="row pages-container d-flex flex-wrap justify-content-center">
                        <div class="each-page-container align-self-start"><button type="button" class="pages-button">1</button></div>
                        <div class="each-page-container align-self-end"><button type="button" class="pages-button">2</button></div>
                        <div class="each-page-container align-self-end"><button type="button" class="pages-button">3</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}