{% extends 'base.html' %}
{% load static %}

{% block title %}
    Main page
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}"/>
    <script src="{% static 'scripts/side_menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/must_page.js' %}"></script>
{% endblock %}

{% block body %}
    <form class="h-100" method="get">
        <div class="h-100 row">
            <div class="col-2">
                <div id="filter-btn-div">
                    <button type="button" class="floating-button" onclick="openCloseNav()"></button>
                    <h1 id="filters-title">Filters</h1>
                </div>
                <div id="mySidenav" class="sidenav">
                    <div class="navbar-div">
                        <h5>Platforms</h5>
                        <input id="platforms-search" name="platforms" value="{{ platforms }}" class="navbar-search" type="text">
                    </div>
                    <div class="navbar-div">
                        <h5>Genres</h5>
                        <span><input id="genres-search" name="genres" value="{{ genres }}" class="navbar-search" type="text"></span>
                    </div>
                    <h5>User rating</h5>
                    <section class="range-slider">
                      <span class="rangeValues"></span>
                      <input value="{{ ur1 }}" min="0" max="10" step="1" name="ur1" type="range">
                      <input value="{{ ur2 }}" min="0" max="10" step="1" name="ur2" type="range">
                    </section>
                    <button id="apply_filters_btn" type="submit">Apply</button>
                </div>
            </div>
            <div id="main" class="col-8">
                <input id="main-search" type="text" name="search" placeholder="Search..." value="{{ search }}">
                <div class="container-fluid d-flex flex-column flex-row" id="games-list">
                    <div class="d-flex flex-wrap flex-row align-content-center justify-content-center">
                        {% if object_list %}
                            {% for game in object_list %}
                                {% include 'game_template.html' %}
                            {% endfor %}
                        {% else %}
                            <h1>Совпадений не найдено</h1>
                        {% endif %}
                    </div>
                {% if is_paginated %}
                    <ul class="pages-container">
                        {% for i in paginator.page_range %}
                            {% if forloop.counter > page_obj.number|add:"-3" %}
                                {% if forloop.counter < page_obj.number|add:"3" %}
                                    {% if page_obj.number == i %}
                                        <li class="each-page-container chosen-page"><span class="pages-button">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="each-page-container"><a class="pages-button" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
{#                    <div class="row d-flex justify-content-center">#}
{#                        <div class="row pages-container d-flex flex-wrap justify-content-center">#}
{#                            {% if games %}#}
{#                                {% if left_pages %}#}
{#                                    {% if left_pages.0 > '1' %}#}
{#                                        {% with page='1' %}#}
{#                                            <div class="each-page-container align-self-end">#}
{#                                                <button type="submit" name="page" value="{{ page }}" class="pages-button">#}
{#                                                    {{ page }}#}
{#                                                </button>#}
{#                                            </div>#}
{#                                        {% endwith %}#}
{#                                        <div class="align-self-end">#}
{#                                            <p>...</p>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{#                                    {% for page in left_pages %}#}
{#                                        <div class="each-page-container align-self-end">#}
{#                                            <button type="submit" name="page" value="{{ page }}" class="pages-button">#}
{#                                                {{ page }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                                <div class="each-page-container align-self-start">#}
{#                                    <button type="submit" name="page" value="{{ current_page }}" class="pages-button">#}
{#                                        {{ current_page }}#}
{#                                    </button>#}
{#                                </div>#}
{#                                {% if right_pages %}#}
{#                                    {% for page in right_pages %}#}
{#                                        <div class="each-page-container align-self-end">#}
{#                                            <button type="submit" name="page" value="{{ page }}" class="pages-button">#}
{#                                                {{ page }}#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                    {% if pages_amount > end %}#}
{#                                        <div class="align-self-end">#}
{#                                            <p>...</p>#}
{#                                        </div>#}
{#                                        {% with page=pages_amount %}#}
{#                                            <div class="each-page-container align-self-end">#}
{#                                                <button type="submit" name="page" value="{{ page }}" class="pages-button">#}
{#                                                    {{ page }}#}
{#                                                </button>#}
{#                                            </div>#}
{#                                        {% endwith %}#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </form>
{% endblock %}