{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/must_page.css' %}">
    <script type="text/javascript" src="{% static 'scripts/must_page.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="main-container">
        <h1>My MUST</h1>
        {% if object_list %}
            <div id="games-list-container" class="d-flex flex-wrap justify-content-center">
            {% for game in object_list %}
                {% include 'game_must_template.html' %}
            {% endfor %}
            </div>
        {% elif request.GET.page == '1' %}
            <div id="games-list-container" class="d-flex flex-column justify-content-center">
            <h1 class="center-text">You don't have MUST games yet</h1>
            <a href="{% url 'main_app:main_page' %}" class="center-content"><button class="big-red-button important-button">Get MUST games!</button></a>
            </div>
        {% else %}
            <div id="games-list-container" class="d-flex flex-column justify-content-center">
            <h1 class="center-text">Nothing here</h1>
            <a href="{% url 'main_app:must_page' %}" class="center-content"><button class="big-red-button important-button">Go back</button></a>
            </div>
        {% endif %}
    </div>
    {% if pages.has_other_pages %}
        <ul class="pagination">
            {% if pages.has_previous %}
                <li><a href="?page={{ pages.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in pages.paginator.page_range %}
                {% if users.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if pages.has_next %}
                <li><a href="?page={{ pages.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
