{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/must_page.css' %}">
    <script type="text/javascript" src="{% static 'scripts/must_page.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="main-container">
        <h1>My MUST</h1>
        <div id="games-list-container" class="d-flex flex-wrap justify-content-center">
            {% if games %}
                {% for game in games %}
                    {% include 'game_must_template.html' %}
                {% endfor %}
            {% else %}
                <h1>You don't have MUST games yet</h1>
                <button class="big-red-button">Get MUST games!</button>
            {% endif %}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="row pages-container d-flex flex-wrap justify-content-center">
            {% if games %}
                {% if left_pages %}
                    {% if left_pages.0 > '1' %}
                        {% with page='1' %}
                            <div class="each-page-container align-self-end">
                                <button type="submit" name="page" value="{{ page }}" class="pages-button">
                                    {{ page }}
                                </button>
                            </div>
                        {% endwith %}
                        <div class="align-self-end">
                            <p>...</p>
                        </div>
                    {% endif %}
                    {% for page in left_pages %}
                        <div class="each-page-container align-self-end">
                            <button type="submit" name="page" value="{{ page }}" class="pages-button">
                                {{ page }}
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="each-page-container align-self-start">
                    <button type="submit" name="page" value="{{ current_page }}" class="pages-button">
                        {{ current_page }}
                    </button>
                </div>
                {% if right_pages %}
                    {% for page in right_pages %}
                        <div class="each-page-container align-self-end">
                            <button type="submit" name="page" value="{{ page }}" class="pages-button">
                                {{ page }}
                            </button>
                        </div>
                    {% endfor %}
                    {% if pages_amount > end %}
                        <div class="align-self-end">
                            <p>...</p>
                        </div>
                        {% with page=pages_amount %}
                            <div class="each-page-container align-self-end">
                                <button type="submit" name="page" value="{{ page }}" class="pages-button">
                                    {{ page }}
                                </button>
                            </div>
                        {% endwith %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <script src="{% static 'scripts/fittext.js' %}"></script>
    <script type="text/javascript">
        fitText(document.getElementsByClassName('game_name'))
    </script>
{% endblock %}
