{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/send_email.css' %}">
{% endblock %}

{% block body %}
    <div id="main-container" class="d-flex flex-column justify-content-center">
    {% if DoesNotExist %}
        <h3>Invalid token or id</h3>
    {% else %}
        <h3>We send you an email to confirm your registration</h3>
        <h5>If you haven't recieve the email, please press the button</h5>
        <a href="?"><button id="send-again-btn" type="button">Send new email</button></a>
    {% endif %}
    </div>
{% endblock %}