<div class="text-with-background marg-bottom marg-right">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque commodi eligendi eum illum nemo nesciunt nisi perferendis sit totam! Asperiores earum error necessitatibus nemo, porro praesentium quisquam vero! Aliquam debitis dolores eaque eligendi illo, labore, perferendis provident, repudiandae sit suscipit voluptatibus.
        </p>
    </div>
    <div class="d-flex justify-content-between">
        <p>15.03.2018 20:20</p>
        <p>@tweet_author</p>
    </div>
</div>