{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% block head %}
{% endblock %}
</head>
<body>
<nav class="nav justify-content-between">
    <ul>
        <li>
            <img src="{% static 'media/logo.png' %}" height="50" width="65">
        </li>
        <li>
            <h1 class="nav-item">GameMuster</h1>
        </li>
    </ul>
    <div>
        {% if request.user.is_anonymous %}
            <a href="{% url 'main_app:register_page' %}">
                <button class="nav-button">Sign Up</button>
            </a>
            <p>or</p>
            <a href="{% url 'main_app:login_page' %}">
                <button class="nav-button">Log In</button>
            </a>
        {% else %}
            <p>Hello</p><a href="{% url 'main_app:user_page' %}"><ins>{{ request.user.username }}!</ins></a>
            <a href="">
                <button class="nav-button green-button">My MUSTs</button>
            </a>
            <a href="{% url 'main_app:logout' %}">
                <button class="nav-button">Log out</button>
            </a>
        {% endif %}
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>