<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styling.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% block head %}
{% endblock %}
</head>
<body>
<nav class="nav">
    <ul>
        <li>
            <i class="fa fa-cloud fa-3x"></i>
        </li>
        <li>
            <h1 class="nav_item">GameMuster</h1>
        </li>
    </ul>
</nav>
{% block body %}
{% endblock %}
</body>
</html>